* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#root {
	position: relative;
	width: 100vw;
	height: 100vh;
}
#main {
	display: flex;
	position: relative;
	background-color: whitesmoke;
	height: calc(100vh - 140px);
}
#sidebar {
	background-color: grey;
	text-align: center;
	margin: 15px;
	width: 100px;
}

#display {
	margin: 15px 15px 15px 0px;
	background-color: #fff;
	width: 100vw;
}
nav {
	display: flex;
	align-items: center;
	position: relative;
	height: 70px;
	padding: 0 15px;
}
nav img {
	width: 50px;
}
footer {
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	height: 70px;
	bottom: 0;
	width: 100vw;
}
footer img {
	width: 50px;
}
